/* Custom styles goes here */

:root {
  --bs-primary: #00cce0;
  --bs-primary-rgb: 0, 204, 224;
  --bs-primary-text-emphasis: #005259;
  --bs-primary-bg-subtle: #ccf5f9;
  --bs-primary-border-subtle: #99ebf3;
}
